.highlight{
    cursor: pointer;
    background-color: yellow !important;
  }
  .my-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .my-tooltip .my-tooltiptext {
    font-size: 12px;
    max-width: 600px;
    width: max-content;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    padding: 16px;
  }
  
  .my-tooltip .my-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .my-tooltip:hover .my-tooltiptext {
    visibility: visible;
    opacity: 1;
  }